# Configurações do Servidor
PORT=3000

# Token da API Delta
DELTA_API_TOKEN=DELTA-a480f9e6b7ace86ab59c5507b9e4cc3f

# Intervalo de monitoramento em segundos
POLLING_INTERVAL_SEC=5

# Configuração PostgreSQL no Railway (DATABASE_URL ou variáveis individuais)
DATABASE_URL=postgresql://postgres:qmdUdpimAcedoJIYufpurABjOAqwNCTi@postgres.railway.internal:5432/railway

# Variáveis individuais do PostgreSQL (opcional caso utilize variáveis separadas)
PGHOST=postgres.railway.internal
PGPORT=5432
PGUSER=postgres
PGPASSWORD=qmdUdpimAcedoJIYufpurABjOAqwNCTi
PGDATABASE=railway
